/*GENERAL*/

@font-face { font-family: 'Pacifico'; src: url(../fonts/Pacifico.ttf); }
@font-face { font-family: 'CaviarDreams'; src: url(../fonts/CaviarDreams.ttf); } 


img { max-width: 100%; }
body { color: #333333; font-family: 'CaviarDreams', 'Source Sans Pro', 'Open Sans', sans-serif; font-size: 18px; font-weight: normal; }
.container { width: 88%; }
h1,
h2,
h3,
h4,
h5,
h6 { font-family: 'Pacifico', 'Arial', sans-serif; }
a,
a:hover,
a:focus,
input[type="submit"], button, .btn { color: inherit; text-decoration: none; transition: all 0.6s ease 0s; cursor: pointer; }
.antiClic { position: absolute; width: 100%; cursor: pointer; z-index: 999; }
.divMapa { position: relative; display: table;width: 100%; }
.divMapa > * { width: 100%; position: absolute; }
.divAlineado { display: table; width: 100%; }
.divTab { display: table; width: 100%; height: 100%; }
.divTab > div { display: table-cell; vertical-align: middle; }
.divHovImg { position: relative; width: 100%; height: 100%; display: inline-block; }
.divHovImg img { width: 100%; vertical-align: top; }
.divHovImg:after { content: '\A'; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0, 0, 0, 0.6); opacity: 0; transition: all .5s; -webkit-transition: all .5s; }
.divHovImg:hover:after { opacity: 1; }

.contImgz { overflow: hidden; position: relative; cursor: pointer; width: 100%; float: left; }
.contImgz > img, .contImgz .imgz { -webkit-transition: all .9s ease; -moz-transition: all .9s ease; -o-transition: all .9s ease; -ms-transition: all .9s ease; width: 100%; }
.contImgz:hover > img, .contImgz:hover .imgz { -webkit-transform: scale(1.25); -moz-transform: scale(1.25); -ms-transform: scale(1.25); -o-transform: scale(1.25); transform: scale(1.25); }

.listNo { list-style: none; padding: 0; }
.disInlineB { display: inline-block; width: 100%; float: left; position: relative; }
.disTable { display: table; width: 100%; position: relative;}
.img-full, .img-full img { width: 100%; } 


.btnNaranja { background-color: #f58634; color: white; padding: 7px 35px; display: table;  }
.btnNaranja:hover, .btnTransNaranja:hover, .btnVerde:hover { color: white; }

.btnVerde { text-align: center; color: #ffffff; background-color: #0aa48a; display: table; width: 100%; margin: 0; float: left; height: 45px; font-size: 24px; line-height: 1.8; transition: all 0.6s ease 0s; cursor: pointer; }


.btnTransNaranja { border: 2px solid #f58634; border-radius: 21px; color: #f58634; padding: 6px 19px; display: table;}
.btnTransBlanco { border: 2px solid #ffffff; border-radius: 30px; color: #ffffff; padding: 6px 19px; display: table;}

.btnTransBlanco:hover { color: #000000; }



/* Iconos sociales */
.icon-button { background-color: transparent; cursor: pointer; display: inline-block; float: left; font-size: 18px; height: 2em; line-height: 3.6rem; position: relative; text-align: center; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; width: 2em; border-radius: 2em; }

/* Circle */
.icon-button span { border-radius: 0; display: block; height: 0; left: 50%; margin: 0; position: absolute; top: 50%; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; width: 0; }
.icon-button:hover span { width: 2em; height: 2em; margin: -1em; border-radius: 2em; }
.twitter span { background-color: #4099ff; }
.facebook span { background-color: #3B5998; }
.instagram span { background-color: #125688; }
.youtube span { background-color: #e52d27; }
.google-plus span { background-color: #cc3335; }
.whatsapp span { background-color: #4dc247; }

/* Icons */
.icon-button i { background: none; color: #fff; height: 2em; left: 0; line-height: 2em; position: absolute; top: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; width: 2em; z-index: 10; }
.icon-button .icon-twitter { color: #fff; }
.icon-button .icon-facebook { color: #fff; }
.icon-button .icon-google-plus { color: #fff; }
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-youtube,
.icon-button:hover .icon-google-plus { color: white; }


/*Menu*/

.navbar-default { background-color: transparent; float: none; margin: 10px auto; display: table; border: none; z-index: 99999; }
.nav.navbar-nav { float: none; }
.navbar-default .navbar-nav > li { margin: 0 2px; }
.navbar-default .navbar-nav > li > a { padding: 3px 15px; font-size: 18px; color: #000000; transition: all 0.6s ease 0s; font-family: 'Pacifico', 'Arial', sans-serif; }
.navbar-default .navbar-nav > li.activa > a { font-weight: 600; border: 2px solid #229a7e; }

.dropdown-menu  { background-color: transparent; padding: 0; box-shadow: none; border: none; width: auto; border-radius: 0;}
.dropdown-menu > li { background-color: transparent; margin: 5px 0; border: 1px solid #000000; }
.dropdown-menu > li:hover, .dropdown-menu > li:hover > a { color: #ffffff; background-color: #000000; } 
.dropdown-menu > li > a { color: black; font-size: 15px; background-color: white; padding: 2px 15px; font-family: 'Pacifico', 'Arial', sans-serif; }



/*Header*/

header { background-image: url('../img/headerfondo.jpg'); background-size: 100% auto; padding: 12px 0 28px; position: relative; }
header .container { width: 100%; }
header .imgLogo,
header .infoH { height: 90px; display: table; }
header .infoH .infoC { display: table-cell; vertical-align: middle; }
header .info { background-color: #f58634; color: #ffffff; margin-bottom: 7px; padding: 5px 22px; }
header .icon-button { background-color: #04a68e; margin: 0 3px; font-size: 14px; }
header .info p { font-size: 21px; line-height: normal; margin: 0; text-align: right; }
header .info-header { margin-right: -15px; display: table; float: right; }
header .redes-sociales { float: right; margin-right: 15px; }
header:after { content: ""; width: 100%; height: 21px; background-image: url('../img/linea.png'); bottom: -7px; position: absolute; background-size: 100% auto; z-index: 9999; }

#cont-slider .img-interna {  width: 100%; }




/*Footer*/

.implementacion { background-color: #0aa48a; color: #ffffff; text-align: center; padding: 2% 0; }
.implementacion h2 { font-family: 'CaviarDreams', 'Source Sans Pro', 'Open Sans', sans-serif; font-weight: 900; border-bottom: 3px solid #ffffff; padding-bottom: 4px; padding-left: 30px; padding-right: 30px; display: table; margin: 0 auto 25px; }

.suscripcion { padding: 4% 0; }
.suscripcion h2 { text-align: center; margin-top: 0; color: #000000; font-size: 50px; margin-bottom: 25px; }
.suscripcion p { text-align: center; margin-bottom: 15px; font-size: 21px; }
.suscripcion form { width: 100%; }
.suscripcion form label { line-height: 45px; margin-bottom: 0; margin-right: 25px; }
.suscripcion form .form-group { width: 90%; margin: 0 auto; display: table; }
.suscripcion form .form-control { height: 45px; width: calc(100% - 150px); margin-right: 15px; float: left; border: 1px solid #f58634; border-radius: 0; }
.suscripcion form .btnNaranja { color: #ffffff; height: 45px; line-height: 45px; width: 130px; font-size: 17px; float: left; border: none; font-family: 'Pacifico', 'Arial', sans-serif; padding: 0; }
.suscripcion form .btnNaranja::-webkit-input-placeholder { color: #000000; }
.suscripcion form .btnNaranja::-moz-placeholder { color: #000000; }
.suscripcion form .btnNaranja:-ms-input-placeholder { color: #000000; }
.suscripcion form .btnNaranja:-moz-placeholder { color: #000000; }
.suscripcion .cont-llamar { background-color: #f58634; color: #ffffff; padding: 8px 20px; width: 330px; display: table; margin: 9% auto 0; transition: all 0.6s ease 0s; cursor: pointer; border: 3px solid #f4efec; }
.suscripcion .cont-llamar h2 { width: 120px; margin: 0; float: left; color: #ffffff; font-size: 37px; text-align: right; margin-right: 12%; margin-left: 7%; }
.suscripcion .cont-llamar h2 span { font-size: 42px; }
.suscripcion .cont-llamar img { height: 125px; float: left; }

footer .redes-sociales { margin: 15px 0  25px; display: table; }
footer .icon-button { background-color: #ffffff; font-size: 16px; margin: 0 3px; }
footer .icon-button i { color: #0aa48a; }
footer .info-web .redes h3 { margin-top: 0; }
footer .info-web .informacion { display: table; width: 100%; }
footer .info-web .informacion  p { margin-bottom: 2px; line-height: normal; font-weight: 600; }
footer .info-web .sostenibilidad { background-color: rgba(255, 255, 255, 0.6); padding: 10px 18px; display: table; }
footer .info-web .sostenibilidad h4 { margin-top: 0; margin-bottom: 16px; color: #000000; font-family: 'Source Sans Pro', 'Open Sans', sans-serif; font-weight: 600; }
footer .info-web .sostenibilidad p { font-size: 13px; font-family: 'Source Sans Pro', 'Open Sans', sans-serif;  color: #000000;  text-align: justify; font-weight: 600;} 
footer .info-web .sostenibilidad .btnNaranja { float: right; font-family: 'Pacifico', 'Arial', sans-serif;  padding: 4px 37px;}
footer .info-web { color: #ffffff; padding: 6% 0 3%; background-image: url('../img/footerimagen.png'); background-size: 100% 100%; margin-bottom: -42px; z-index: 999; }
footer .info-web .texto { display: table; margin: 20px auto 0; }
footer .info-web .texto p,
footer .info-web .texto span { display: inline-block; float: left; margin-bottom: 0; font-weight: 600; }
footer .info-web span { margin: 0 12px; }
footer .info-web img { height: 265px; margin: 0 auto; display: block; }
footer .divMapa,
footer .divMapa > * { height: 400px; }


/*Index*/


.owl-prev img,
.owl-next img { width: 60px; }
.owl-carousel .owl-nav { position: absolute; bottom: 8%; right: 6%; }
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev { float: left; margin: 0 8px; }
.owl-carousel .owl-stage-outer, .owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item, .owl-carousel .owl-item img { height: 530px; }

#cont-slider { position: relative; display: inline-block; width: 100%; float: left; }
#cont-slider .img-abs { position: absolute; height: 110px; bottom: 10%; z-index: 999; left: 7%; }
#cont-slider .infoBanner { position: absolute; top: 10%; right: 7%; color: #ffffff; border: 3px solid white; padding: 20px 44px; background-color: rgba(0,0,0,0.5); }
#cont-slider .infoBanner h2 { margin: 0; font-family: 'Source Sans Pro', 'Open Sans', sans-serif; font-size: 50px; text-transform: uppercase; }
#cont-slider .infoBanner h2 span { font-weight: 600; display: table; text-align: right; width: 100%; font-size: 91px; }


.secc-recomendados { padding: 4% 0; position: relative; }
.secc-recomendados:before { content: ""; width: 100%; height: 32px; background-image: url('../img/linea.png'); top: -20px; left: 0; right: 0; position: absolute; background-size: 100% auto; z-index: 9999; }
.secc-recomendados:after { content: ""; width: 100%; height: 32px; background-image: url('../img/linea.png'); bottom: -8px; left: 0; right: 0; position: absolute; background-size: 100% auto; z-index: 9999; }
.secc-recomendados { text-align: center; }
.secc-recomendados .tit-img { width: auto; margin: 0 auto 45px; }
.secc-recomendados .tit-img > * { display: block; float: left; }
.secc-recomendados .tit-img h2 { font-size: 46px; margin-top: 0; line-height: 80px; }
.secc-recomendados .info-viaje { width: 88%; margin: 0 auto; }

.secc-recomendados .info-viaje .precio { display: table; width: 100%; padding: 5px 0 0; }
.secc-recomendados .info-viaje .precio span { float: left; color: #f58634; margin-top: 10px; font-weight: 600; }
.secc-recomendados .info-viaje .precio p { color: black; margin-bottom: 0; display: inline-block; font-size: 40px; font-weight: 600; float: right; }
.secc-recomendados .info-viaje .horario { display: table; width: 100%; text-align: right; }
.secc-recomendados .info-viaje .horario p { color: black; margin-bottom: 0; display: inline-block; font-weight: 600; color: #333333; }
.secc-recomendados .info-viaje .horario .fa { background-color: #f58634; color: #ffffff; padding: 2px; }
.secc-recomendados .info-viaje .texto { text-align: right; margin-bottom: 0; }


.secc-experiencia { height: 550px; background-size: 100% 100%; position: relative; }
.secc-experiencia:after { content: ""; width: 100%; height: 32px; background-image: url('../img/linea.png'); bottom: -8px; left: 0; right: 0; position: absolute; background-size: 100% auto; z-index: 9999; }
.secc-experiencia .informacion { position: absolute; top: 16%; right: 7%; color: #ffffff; border: 3px solid white; padding: 20px 44px; width: 478px; text-align: right; }
.secc-experiencia .informacion h2 { margin: 0; font-family: 'Source Sans Pro', 'Open Sans', sans-serif; font-size: 50px; text-transform: uppercase; }
.secc-experiencia .img-abs { position: absolute; height: 75px; bottom: 10%; z-index: 999; right: 7%; }
.secc-experiencia .btnTransBlanco { position: absolute; bottom: 33%; right: 7%; font-size: 26px; padding: 5px 19px;  }


.cont-destacados { padding: 4% 0; background-size: 100% 100%; }
.cont-destacados .info-destacados { background-color: #ffffff; padding: 25px 45px;  }
.tit-img { display: table; width: 100%; margin-bottom: 20px; }
.tit-img h2 { float: left; color: #000000; font-size: 36px; }
.tit-img img { height: 80px; float: left; margin-right: 15px; }
.cont-destacados .info-destacados p { color: black; text-align: justify; font-size: 17px; margin-bottom: 13%; line-height: normal; }

.info-viaje { }
.info-viaje .contImgz,
.info-viaje .contImgz img { }
.info-viaje .titVerde { text-align: center; color: #ffffff; background-color: #0aa48a; display: table; width: 100%; margin: 0; float: left; height: 92px; font-size: 24px; line-height: 1.8; transition: all 0.6s ease 0s; cursor: pointer; }



/*Pagina Recomendados*/

#pageRecomendados .img-full { margin-bottom: -120px; }
#pageRecomendados .informacion { height: 100%; }
#pageRecomendados .informacion::before { content: ""; width: 100%; height: 32px; background-image: url('../img/linea.png'); top: -20px; left: 0; right: 0; position: absolute; background-size: 100% auto; z-index: 9999; }
#pageRecomendados .informacion > div { float: left; display: table; height: 100%; }
#pageRecomendados .informacion .col-izq { width: 45%; padding: 26px 38px; background-color: #f58634; color: #ffffff; }
#pageRecomendados .informacion .col-der { width: 55%; padding: 26px 30px; padding-left: 7%; background-color: #f1f1f1; color: black; }
#pageRecomendados .informacion .col-der h2 { text-align: center; margin: 30px 0; font-size: 60px; }
#pageRecomendados .informacion .col-izq h2 { font-family: 'Source Sans Pro', 'Open Sans', sans-serif; text-transform: uppercase; font-size: 36px; margin-bottom: 25px; margin-top: 38px; }
#pageRecomendados .informacion .col-izq p { text-align: justify; margin-bottom: 20px; font-size: 23px; }
#pageRecomendados .informacion .iconos { width: 50%; display: table; margin: 40px auto; }
#pageRecomendados .informacion .certificado,
#pageRecomendados .informacion .sostenibilidad { width: 60%; display: table; margin: 40px auto; }


/*Pagina Mi Tierra*/

#pageMiTierra #cont-slider .img-abs { bottom: 60%; left: 12%;  }
#pageMiTierra #cont-slider .texto { position: absolute; color: #ffffff; text-shadow: 2px 2px 2px #000000; bottom: 35%; font-size: 46px; width: 364px; left: 12%; }
#pageMiTierra #cont-slider .tolima { position: absolute; color: #fdcd2f; bottom: 15%; font-size: 70px; right: 12%;  }

#pageMiTierra .informacion { padding-bottom: 4%; }
/* #pageMiTierra .informacion::before { content: ""; width: 100%; height: 32px; background-image: url('../img/linea.png'); top: -20px; left: 0; right: 0; position: absolute; background-size: 100% auto; z-index: 9999; } */
#pageMiTierra .informacion h1 { color: #f58634; text-align: center; font-size: 65px; margin-top: 50px; margin-bottom: 4%; }
.info-turismo { display: table; width: 46%; margin: 0 2% 50px; float: left; border-radius: 13px 13px 0 13px; overflow: hidden; }
.info-turismo .titulo { background-color: #f58634; color: #fff; border-radius: 13px; position: relative; padding: 3px 15px; }
.info-turismo .titulo > * { display: inline-block; }
.info-turismo .titulo h4 { font-family: 'Source Sans Pro', 'Open Sans', sans-serif; margin: 0; text-transform: uppercase; }
.info-turismo .titulo p { margin-bottom: 0; }
.info-turismo .titulo h4,
.info-turismo .titulo p,
.info-turismo .titulo span { font-size: 27px; font-weight: bold; }
.info-turismo .titulo .precio { color: #000000; background-color: #ffffff; float: right; font-weight: bold; padding: 0 11px; border-radius: 0 14px 14px 0; }
.info-turismo, .info-turismo .principal { height: 450px; }
.info-turismo .principal { margin-top: -44px; width: 100%; }
.info-turismo .btnVerde { margin-top: -49px; z-index: 999; position: relative; width: auto; padding: 3px 33px; border-radius: 13px; }


/*Pagina Planes*/

.tit-planes::before { content: ""; width: 100%; height: 32px; background-image: url('../img/linea.png'); top: -20px; left: 0; right: 0; position: absolute; background-size: 100% auto; z-index: 9999; }
.tit-planes .title { margin: 3% 0; color: #000000; font-size: 46px; padding-left: 15px; }

.plan { margin-bottom: 4%; }
.plan .titulo { background-color: #f58634; color: #fff; border-radius: 13px; position: relative; padding: 3px 15px; display: inline-block; float: left; margin-right: 40px;  }
.plan .titulo > * { display: inline-block; }
.plan .titulo h4 { font-family: 'Source Sans Pro', 'Open Sans', sans-serif; margin: 0; text-transform: uppercase; }
.plan .titulo p { margin-bottom: 0; }
.plan .titulo h4,
.plan .titulo p,
.plan .titulo span { font-size: 27px; font-weight: bold; }
.plan .titulo .precio { color: #000000; background-color: #ffffff; float: right; font-weight: bold; padding: 0 11px; border-radius: 0 14px 14px 0; margin-left: 30px; }
.plan .btnVerde { display: inline-block; float: left; z-index: 999; position: relative; width: auto; padding: 3px 33px; border-radius: 13px; }
.plan .cont-centrado { display: table; margin: -24px auto 0; }

.pagination > li { display: inline-block; }
.pagination > li a { background-color: #0da38a; color: #ffffff; border-radius: 50% !important; padding: 0; width: 50px; height: 50px; line-height: 50px; text-align: center; font-weight: 600; border: none; }
.pagination > li.actual a { background-color: #f58634; }



/*Pagina Detalle Plan*/

.tit-detaplan::before { content: ""; width: 100%; height: 32px; background-image: url('../img/linea.png'); top: -20px; left: 0; right: 0; position: absolute; background-size: 100% auto; z-index: 9999; }

.info-detaPlan { padding: 3% 0 5%; }
.info-detaPlan::before { content: ""; width: 100%; height: 32px; background-image: url('../img/linea.png'); top: -20px; left: 0; right: 0; position: absolute; background-size: 100% auto; z-index: 9999; }
.info-detaPlan .titulo { background-color: #f58634; color: #fff; border-radius: 13px; position: relative; padding: 3px 15px; display: inline-block; float: left; margin-right: 40px; margin-bottom: 2%;  }
.info-detaPlan .titulo > * { display: inline-block; }
.info-detaPlan .titulo h4 { font-family: 'Source Sans Pro', 'Open Sans', sans-serif; margin: 0; text-transform: uppercase; }
.info-detaPlan .titulo p { margin-bottom: 0; }
.info-detaPlan .titulo h4,
.info-detaPlan .titulo p,
.info-detaPlan .titulo span { font-size: 38px; font-weight: bold; }

.info-detaPlan .col-izq, .info-detaPlan .col-der { width: 50%; display: table; float: left; font-family: 'Source Sans Pro', 'Open Sans', sans-serif; }
.info-detaPlan .col-izq {  padding-right: 45px; }
.info-detaPlan .col-der img { width: 100%; }
.info-detaPlan .informacion { margin-bottom: 30px; }
.info-detaPlan .informacion p { margin-bottom: 0; font-size: 26px; }
.info-detaPlan .informacion p span { font-weight: 900; color: #333333; }

.info-detaPlan .incluye p { margin-bottom: 0; font-size: 26px; font-weight: 900; color: #333333; }
.info-detaPlan .incluye ul { padding-left: 15px; }
.info-detaPlan .incluye ul li { text-indent: -15px; list-style-type: none; font-size: 26px; }
.info-detaPlan .incluye ul li:before { content: "-"; text-indent: -5px; margin-right: 14px; }

.cont-infocontacto { display: inline-block; float: left; margin-top: 4%; }
.info-contacto { border: 4px solid #f58634; color: #333333; text-align: center; padding: 10px 36px; border-radius: 28px; display: inline-block; float: left; margin-right: 40px; }
.info-contacto p{font-size:44px;font-weight:600;color:#333333;font-family:'Pacifico','Arial',sans-serif;}
.info-contacto img{height:50px;}
.cont-infocontacto .btnVerde{width:auto;display:table;float:left;font-family:'Pacifico','Arial',sans-serif;font-size:40px;padding:2px 55px;border-radius:24px;margin-top:67px;margin-right:22px;}



/*Pagina Contacto*/

.info-contactenos { padding: 3% 0 4%; }
.info-contactenos h1 { color: #000000; font-size: 50px; margin-bottom: 20px; }
.info-contactenos::before { content: ""; width: 100%; height: 32px; background-image: url('../img/linea.png'); top: -20px; left: 0; right: 0; position: absolute; background-size: 100% auto; z-index: 9999; }
.img-contacto { position: relative; display: table; width: 100%; margin-bottom: -125px; }
.img-contacto .img-abs { height: 140px; top: 15%; position: absolute; left: 17%; }
.img-contacto .texto { font-size: 50px; left: 17%; bottom: 38%; position: absolute; }
.form-envio { margin-top: 25px; }
.form-envio .form-group { display: table; width: 100%; }
.form-envio .form-control { background-color: #b5e4dc; color: #333333; height: 52px; border-radius: 0; border: none; }
.form-envio .form-control::-webkit-input-placeholder { color: #788b89; }
.form-envio .form-control::-moz-placeholder { color: #788b89; }
.form-envio .form-control:-ms-input-placeholder { color: #788b89; }
.form-envio .form-control:-moz-placeholder { color: #788b89; }
.form-envio .form-2 .form-control:first-child { width: 48%; margin-right: 2%; float: left; }
.form-envio .form-2 .form-control:last-child { width: 50%; float: left; }
.form-envio textarea.form-control { height: 170px; }
.custom-control-description a { color: #4a4a6e; border-bottom: 1px solid #4a4a6e; }
#contBtnEnv .btnNaranja { border: none; color: #ffffff; font-weight: 600; margin-top: 30px; border-radius: 20px; padding: 9px 35px; }

.texto-contacto { border: 4px solid #f58634; padding: 20px; margin-top: 80px; display: table; width: 395px; }
.texto-contacto p { margin-bottom: 4px; font-weight: 600; color: #000000; }
.texto-contacto img { height: 200px; display: table; float: right; }