@media only screen and (min-width:1368px) and (max-width:1720px) {

}


@media only screen and (min-width:1285px) and (max-width:1366px) {

	body { font-size: 16px; }
	header .info p { font-size: 17px; }
	.navbar-default .navbar-nav > li > a { padding: 3px 8px; font-size: 16px;  }
	header .imgLogo, header .infoH { height: 70px; }
	#cont-slider .infoBanner h2 span { font-size: 76px; }
	#cont-slider .infoBanner h2 { font-size: 43px; }
	.secc-recomendados .info-viaje .precio p { font-size: 26px; }
	.secc-experiencia .informacion h2 { font-size: 40px; }
	.secc-experiencia { height: 490px; }
	.secc-experiencia .btnTransBlanco { font-size: 22px; }
	.cont-destacados .info-destacados p { font-size: 16px; }
	.suscripcion .cont-llamar h2 { font-size: 33px; }
	.suscripcion .cont-llamar h2 span { font-size: 38px; }
	.plan .titulo h4, .plan .titulo p, .plan .titulo span { font-size: 25px; }
	#cont-slider .img-abs, .img-contacto .img-abs { height: 95px; }
	#pageMiTierra .informacion h1 { font-size: 60px; }
	.info-turismo, .info-turismo .principal { height: 300px; }
	.texto-contacto img {  height: 134px; }

	footer .info-web .sostenibilidad p { font-size: 12px; }
	footer .info-web .sostenibilidad h4 { font-size: 17px; }
	footer .info-web img {  height: 210px; }
	footer .container { width: 96%; }

	.info-contacto p { font-size: 33px; }
	.cont-infocontacto .btnVerde { font-size: 30px; }
	#pageMiTierra #cont-slider .texto { bottom: 27%; font-size: 40px; }
	.info-turismo .titulo .precio { font-size: 20px; }
}


@media only screen and (min-width:1195px) and (max-width:1285px) {

	body, header .info p { font-size: 15px; }
	.navbar-default .navbar-nav > li > a { padding: 3px 8px; font-size: 15px;  }
	header .imgLogo, header .infoH { height: 70px; }
	.owl-carousel .owl-stage-outer, .owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item, .owl-carousel .owl-item img { height: 500px; }

	#cont-slider .infoBanner h2 span { font-size: 55px; }
	#cont-slider .infoBanner h2 { font-size: 37px; }
	.secc-recomendados .info-viaje .precio p { font-size: 26px; }
	.secc-experiencia .informacion h2 { font-size: 32px; }
	.secc-experiencia .informacion { width: 400px;  top: 10%;}
	.secc-experiencia { height: 440px; }
	.secc-experiencia .btnTransBlanco { font-size: 21px; bottom: 39%; }
	.cont-destacados .info-destacados p { font-size: 16px; }
	.suscripcion .cont-llamar h2 { font-size: 33px; }
	.suscripcion .cont-llamar h2 span { font-size: 38px; }
	.plan .titulo h4, .plan .titulo p, .plan .titulo span { font-size: 25px; }
	#cont-slider .img-abs, .img-contacto .img-abs { height: 95px; }
	#pageMiTierra .informacion h1 { font-size: 60px; }
	.info-turismo, .info-turismo .principal { height: 300px; }
	.texto-contacto img {  height: 134px; }

	footer .info-web .sostenibilidad p { font-size: 11px; }
	footer .info-web .sostenibilidad h4 { font-size: 16px; }
	footer .info-web img {  height: 210px; }
	footer .container { width: 96%; }

	.info-contacto p { font-size: 33px; }
	.cont-infocontacto .btnVerde { font-size: 30px; }
	#pageMiTierra #cont-slider .texto { bottom: 27%; font-size: 40px; }
	.info-turismo .titulo .precio { font-size: 20px; }

	.info-viaje .titVerde { height: 65px; font-size: 21px; line-height: 1.4; }

}


/*Tablet*/
@media only screen and (min-width:768px) and (max-width:1026px) {

	body { font-size: 16px; }
	header {  background-size: 100% 100%; }
	header .imgLogo, header .infoH { height: auto; }
	header .info p { font-size: 18px; }
	header::after { bottom: -13px; }
	#cont-slider .infoBanner { padding: 10px 44px; }
	#cont-slider .infoBanner h2 { font-size: 32px; }
	#cont-slider .infoBanner h2 span { font-size: 44px; }
	.owl-carousel .owl-stage-outer, .owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item, .owl-carousel .owl-item img { height: 350px; }
	#cont-slider .img-abs {  height: 66px; }
	.secc-recomendados::before {  height: 27px; top: -14px;  background-size: 100% 100%; }
	.secc-recomendados::after { height: 27px;  bottom: -13px; background-size: 100% 100%; }
	.secc-recomendados .col-sm-6 {  margin-bottom: 50px; }
	.secc-recomendados .info-viaje .precio p { font-size: 28px; }
	.secc-experiencia .informacion h2{ font-size: 25px; }
	.secc-experiencia .informacion {  padding: 14px 24px; width: 350px; top: 21%; }
	.secc-experiencia .btnTransBlanco {   bottom: 42%; }
	.secc-experiencia {  height: 395px; }
	.secc-experiencia .img-abs { height: 60px; }
	.cont-destacados .info-destacados, .informacion-destacados .col-sm-6 { margin-bottom: 40px; }
	.cont-destacados .info-destacados p { margin-bottom: 4%; }
	.info-viaje .titVerde { height: 75px; font-size: 23px; line-height: 1.4; }
	footer .info-web { padding: 19% 0 13%; background-size: auto 100%; margin-bottom: -88px; background-position: 66% 67%; }
	footer .info-web .informacion { margin-bottom: 40px; }
	footer .info-web .texto {  margin: 20px auto 30px; }
	footer .info-web img {  height: 200px; }
	.plan .titulo h4, .plan .titulo p, .plan .titulo span { font-size: 22px; }
	#pageMiTierra #cont-slider .tolima { bottom: 12%; font-size: 58px; right: 6%; }
	#pageMiTierra #cont-slider .texto {  bottom: 18%;  font-size: 32px; width: 310px; }
	#pageMiTierra #cont-slider .img-abs { bottom: 58%;  height: 60px; }
	.info-turismo, .info-turismo .principal { height: 300px; }
	.info-turismo .titulo { height: 65px; }
	.info-turismo .titulo h4, .info-turismo .titulo p, .info-turismo .titulo span { font-size: 22px;   display: table; }
	#pageMiTierra .informacion h1 { font-size: 55px; margin-top: 40px; margin-bottom: 8%; }
	.tit-planes .title { margin: 5% 0; font-size: 34px; padding-left: 0; text-align: center; }
	.info-contacto p {  font-size: 29px; }
	.info-contacto { display: table; float: none;  margin: 0 auto; }
	.info-detaPlan::before { height: 23px; top: -12px; background-size: 100% 100%; }
	.cont-infocontacto {  display: table; float: left;  width: 100%; }
	.cont-infocontacto .btnVerde { margin-top: 40px; margin-right: 32px; margin-left: 32px; }
	.info-detaPlan .col-izq, .info-detaPlan .col-der { width: 100%; }
	.info-detaPlan .col-izq { padding-right: 0; margin-bottom: 30px;}
	.img-contacto .img-abs { height: 60px; top: 12%;  left: 12%; }
	.texto-contacto { display: table; width: 395px; margin: 50px auto 20px; }
	.info-contactenos::before { display: none; }


}


@media only screen 
and (min-device-width:768px) 
and (max-device-width:1024px) {

}


/* iPads (landscape) ----------- */
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) { }


/*Smartphone*/
@media only screen and (min-width:320px) and (max-width:480px) {

	body { font-size: 16px; }
	.navbar-default {  background-color: #f8f8f8; float: none; margin: 0; display: table; width: 100%; border-color: #e7e7e7; }
	header { padding-top: 56px; }
	header .imgLogo, header .infoH {  height: auto; }
	header .imgLogo { width: 65%; }
	header::after { height: 19px; bottom: -9px;  background-size: 100% 100%; }
	header .info p { font-size: 17px; }
	#cont-slider .infoBanner {  padding: 8px 20px; }
	#cont-slider .infoBanner h2 { font-size: 22px; }
	#cont-slider .infoBanner h2 span {  font-size: 26px; }
	.owl-carousel .owl-stage-outer, .owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item, .owl-carousel .owl-item img { height: 225px; }
	#cont-slider .img-abs, .info-contactenos::before { display: none; }
	.secc-recomendados::before {  height: 19px; top: -11px; background-size: 100% 100%; }
	.suscripcion .cont-llamar { padding: 6px 10px; width: 100%; }
	.suscripcion .cont-llamar img { height: 100px; }
	.suscripcion .cont-llamar h2 { width: 118px;  font-size: 24px; margin-right: 12%; }
	.suscripcion .cont-llamar h2 span { font-size: 34px; }
	.secc-recomendados .tit-img h2, .tit-img h2 { font-size: 35px; line-height: 66px; }
	.tit-img img { height: 66px; }
	.secc-recomendados .info-viaje .precio p { font-size: 26px; }
	.secc-recomendados .info-viaje .horario p {  font-size: 15px; }
	.secc-recomendados .col-xs-12, .informacion-destacados .col-xs-12 { margin-bottom: 40px; }
	.secc-recomendados::after {  height: 19px; bottom: -9px; background-size: 100% 100%; }
	.secc-experiencia::after {  height: 22px;  bottom: -10px;  background-size: 100% 100%; }
	.secc-experiencia .informacion { top: 12%; right: 7%; padding: 6px 13px;  width: 80%; }
	.secc-experiencia .informacion h2 { font-size: 26px; }
	.secc-experiencia { height: 350px; }
	.secc-experiencia .img-abs { height: 44px; }
	.cont-destacados .info-destacados {  padding: 14px 18px; margin-bottom: 40px; }
	.cont-destacados {   background-size: auto; }
	.suscripcion form .form-control, .suscripcion form .btnNaranja { width: 100%; }
	.suscripcion p {  font-size: 17px; } 
	footer .info-web { padding: 44% 0 32%; background-size: auto 100%; margin-bottom: -88px; background-position: 66% 67%; }
	footer .info-web .informacion { margin-bottom: 40px; }
	footer .info-web .texto { margin: 20px auto 30px; }
	footer .info-web img { height: 150px; }
	footer .container { width: 95%; }
	footer .info-web .informacion p { font-size: 14px; }
	.tit-planes .title { margin: 5% 0; font-size: 32px; padding-left: 0; text-align: center; }
	.plan { margin-bottom: 10%; }
	.plan .titulo h4, .plan .titulo p, .plan .titulo span { font-size: 20px; }
	.plan .btnVerde { padding: 0px 29px; font-size: 20px; line-height: 45px; float: right; }
	#pageMiTierra #cont-slider .tolima { bottom: 2%; font-size: 27px; right: 4%; }
	#pageMiTierra #cont-slider .texto { bottom: 46%; font-size: 25px; width: auto; }
	#pageMiTierra #cont-slider .img-abs { bottom: 58%;  height: 60px; }
	.info-turismo, .info-turismo .principal { height: 300px; }
	.info-turismo .titulo { height: 65px; }
	.info-turismo .titulo h4, .info-turismo .titulo p, .info-turismo .titulo span { font-size: 22px;   display: table; }
	#pageMiTierra .informacion h1 { font-size: 30px; margin-top: 40px; margin-bottom: 8%; }
	.tit-planes .title { margin: 5% 0; font-size: 30px; padding-left: 0; text-align: center; }
	.info-contacto p {  font-size: 20px; }
	.info-detaPlan .col-izq { padding-right: 0; margin-bottom: 30px; }
	.info-detaPlan .col-izq, .info-detaPlan .col-der { width: 100%; margin-bottom: 30px; }
	.info-contacto img {  height: 40px; }
	.cont-infocontacto, .info-contacto {  margin-right: 0; width: 100%; float: none; }
	.cont-infocontacto .btnVerde {  font-size: 27px; padding: 2px 55px; margin: 15px auto 0; float: none; }
	.info-detaPlan::before { height: 19px; top: -10px;  background-size: 100% 100%; }
	.info-detaPlan .titulo h4, .info-detaPlan .titulo p, .info-detaPlan .titulo span { font-size: 28px; }
	.info-turismo { width: 100%; }
	.info-turismo .btnVerde { margin-top: -36px; padding: 3px 33px; font-size: 17px; line-height: 30px; height: 30px; }

	.info-contactenos h1 { font-size: 30px; }
	.texto-contacto {  padding: 9px; margin-top: 40px; display: table;width: 100%; }
	.texto-contacto img { height: 100px; }
	.texto-contacto p {  font-size: 12px; }
	.form-envio .form-control { height: 40px; font-size: 13px; }
	.img-contacto {  margin-bottom: -50px; }
	.img-contacto .texto { font-size: 23px; left: 11%;  bottom: 35%; }
	.img-contacto .img-abs { display: none; }

	#pageRecomendados .informacion::before { height: 22px;  top: -11px;  background-size: 100% 100%; }
	#pageRecomendados .informacion .col-izq, #pageRecomendados .informacion .col-der { width: 100%; padding: 16px 13px; }
	#pageRecomendados .informacion .col-izq p { font-size: 16px; }
	#pageRecomendados .informacion .col-izq h2 { font-size: 29px; }
	#pageRecomendados .informacion > div { height: auto; }

	#pageRecomendados .informacion .col-der h2 {  font-size: 30px; }









	
}