#sliderHome .ws_hovershow {    /*display: none !important; */
opacity: 0; -webkit-transition: opacity 0.2s ease-in; -moz-transition: opacity 0.2s ease-in; -o-transition: opacity 0.2s ease-in; transition: opacity 0.2s ease-in; }
#sliderHome:hover .ws_hovershow {    /*display: block !important;*/
opacity: 1; -webkit-transition: opacity 0.2s ease-in; -moz-transition: opacity 0.2s ease-in; -o-transition: opacity 0.2s ease-in; transition: opacity 0.2s ease-in; }

/*playpause*/
#sliderHome .ws_playpause { width: 18px; height: 28px; position: absolute; top: 50%; left: 50%; margin-left: -9px; margin-top: -14px; z-index: 59; }
#sliderHome .pause { background-image: url(./pause.png); }
#sliderHome .play { background-image: url(./play.png); }
#sliderHome .pause:hover,
#sliderHome .play:hover { background-position: 100% 100% !important; }
#sliderHome .ws_fullscreen { width: 16px; height: 16px; position: absolute; top: 20px; left: 15px; margin-left: -9px; margin-top: -14px; z-index: 59; background-image: url(./fullscreen.png); }
div#ws_fullscreen:-moz-full-screen #sliderHome { width: 95% !important; max-width: 100% !important; max-height: inherit; }
div#ws_fullscreen:-webkit-full-screen #sliderHome { width: 95% !important; max-width: 100% !important; max-height: inherit; }
div#ws_fullscreen:fullscreen #sliderHome { width: 95% !important; max-width: 100% !important; max-height: inherit; }
div#ws_fullscreen:-moz-full-screen { background-color: #000; height: 100%; }
div#ws_fullscreen:-webkit-full-screen { background-color: #000; height: 100%; }
div#ws_fullscreen:fullscreen { background-color: #000; height: 100%; }