<span style='color: #000' title='Frames'>   603</span><span style='color: #009' title='Memory'>  20992.00 KB</span><span style='color: #900' title='Time'>   1656.31 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />